.Feed {

    margin-top: 60px;

    .container {
        display: flex;
        gap: 20px;

        .left-part {
            flex: 2;

        }

        .title {
            margin-bottom: 20px;
        }

        .suggestion {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .right-part {

            flex: 1;
            margin-top: 20px;

        }
    }
}